html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  color: #393838;
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
@media (max-width: 1250px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 630px) {
  body {
    font-size: 12px;
  }
}

h2 {
  font-size: 1.5em;
  line-height: inherit;
  margin: 0 0 0.1em 0;
}

a {
  color: #393838;
  text-decoration: none;
}

.content {
  position: relative;
  margin: 33px auto;
  max-width: 740px;
  width: 60%;
}
@media (max-width: 1250px) {
  .content {
    width: 94%;
  }
}
@media (max-width: 630px) {
  .content {
    margin: 0 auto 10px;
    width: 100%;
  }
}
.content a:hover {
  text-decoration: underline;
}

@media (max-width: 1250px) {
}
@media (max-width: 1250px) {
}
@media (max-width: 630px) {
}
@media (max-width: 1250px) {
}
@media (max-width: 1250px) {
}
@media (max-width: 1250px) {
}
@media (max-width: 630px) {
}

.post {
  padding: 2em 2.9em;
  margin: 0;
  background: white;
  -webkit-box-shadow: 5px 5px #e6e6e6, 4px 4px #e6e6e6, 3px 3px #e6e6e6, 2px 2px #e6e6e6, 1px 1px #e6e6e6;
  -moz-box-shadow: 5px 5px #e6e6e6, 4px 4px #e6e6e6, 3px 3px #e6e6e6, 2px 2px #e6e6e6, 1px 1px #e6e6e6;
  box-shadow: 5px 5px #e6e6e6, 4px 4px #e6e6e6, 3px 3px #e6e6e6, 2px 2px #e6e6e6, 1px 1px #e6e6e6;
}
